@import url("./fonts");

/* Tailwind CSS Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Custom Font Classes */
.SFPro_font {
  font-family: "SFPro", sans-serif;
}

.Helvetic_font {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

/* Background Images */
.bg-heroCover {
  background-image: url("../assets/images/for_landing/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-footerCover {
  background-image: url("../assets/images/for_landing/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Custom Background Color */
.bg-custom-blue {
  background-color: rgba(4, 102, 175, 0.1);
}

/* Marquee Animation */
@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Top Bar Marquee Animation */
.animate-marquee {
  display: flex;
  width: 100%;
  animation: marquee 15s linear infinite;
}

.marquee-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-item {
  padding: 8px;
}

@media (min-width: 640px) {
  .animate-marquee {
    animation: none;
  }
}

/* Clients Bar Marquee Animation */
.animate-marquee-client {
  width: 100%;
  animation: marquee 25s linear infinite;
}

.item-marquee-client {
  display: block;
}

@media (min-width: 880px) {
  .animate-marquee-client {
    animation: none;
  }

  .item-marquee-client {
    display: none;
  }
}

/* Transition for Transformations */
.transition-transform {
  transition: transform 0.3s ease-in-out;
}