/* Import custom fonts */
@import url("./fonts");

/* Tailwind CSS Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Custom Font Classes */
.SFPro_font {
  font-family: "SFPro", sans-serif;
}

.Helvetic_font {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0px;
  /* Hide scrollbar */
}

/* Background Images */
.bg-heroCover {
  background-image: url("../assets/images/for_landing/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-leaveHeadache {
  background-image: url("../assets/images/for_landing/leaveHeadache.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-heroCategory {
  background-image: url("../assets/images/for_category/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-coverBlog {
  background-image: url("../assets/images/for_blog/blog2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Background Image for larger screens */
@media (min-width: 1024px) {
  .bg-residencyCover {
    background-image: url("../assets/images/for_landing/getResidency.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* Cancel gradient overlay on larger screens */
  .gradient-overlay {
    background: none;
  }
}

/* Custom gradient overlay */
.gradient-overlay {
  background: linear-gradient(to right, black, transparent 50%, black);
}

/* Cancel gradient overlay for medium screens and up */
@media (min-width: 880px) {
  .gradient-overlay {
    background: none;
  }
}

/* Custom Background Color */
.bg-custom-blue {
  background-color: rgba(4, 102, 175, 0.1);
}

/* Marquee Animation */
@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Top Bar Marquee Animation */
.animate-marquee {
  display: flex;
  width: 100%;
  animation: marquee 15s linear infinite;
}

.marquee-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-item {
  padding: 8px;
}

/* Disable marquee animation on small screens and up */
@media (min-width: 640px) {
  .animate-marquee {
    animation: none;
  }
}

/* Clients Bar Marquee Animation */
.animate-marquee-client {
  width: 100%;
  animation: marquee 25s linear infinite;
}

.item-marquee-client {
  display: block;
}

/* Disable marquee animation for clients on medium screens and up */
@media (min-width: 880px) {
  .animate-marquee-client {
    animation: none;
  }

  .item-marquee-client {
    display: none;
  }
}

/* Transition for Transformations */
.transition-transform {
  transition: transform 0.3s ease-in-out;
}